In [1]:
import pandas as pd

In [2]:
data = pd.read_csv(r"D:\Assignments\EDA2\adult_with_headers.csv")

In [3]:
data.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education_num   32561 non-null  int64
 5   marital_status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital_gain    32561 non-null  int64
 11  capital_loss    32561 non-null  int64
 12  hours_per_week  32561 non-null  int64
 13  native_country  32561 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [5]:
data.shape

(32561, 15)

In [6]:
data.describe()

,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [7]:
data.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education_num',
       'marital_status', 'occupation', 'relationship', 'race', 'sex',
       'capital_gain', 'capital_loss', 'hours_per_week', 'native_country',
       'income'],
      dtype='object')

In [8]:
# Check for missing values
data.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education_num     0
marital_status    0
occupation        0
relationship      0
race              0
sex               0
capital_gain      0
capital_loss      0
hours_per_week    0
native_country    0
income            0
dtype: int64

In [9]:
data.sum()

age                                                         1256257
workclass          State-gov Self-emp-not-inc Private Private Pr...
fnlwgt                                                   6179373392
education          Bachelors Bachelors HS-grad 11th Bachelors Ma...
education_num                                                328237
marital_status     Never-married Married-civ-spouse Divorced Mar...
occupation         Adm-clerical Exec-managerial Handlers-cleaner...
relationship       Not-in-family Husband Not-in-family Husband W...
race               White White White Black Black White Black Whi...
sex                Male Male Male Male Female Female Female Male...
capital_gain                                               35089324
capital_loss                                                2842700
hours_per_week                                              1316684
native_country     United-States United-States United-States Uni...
income             <=50K <=50K <=50K <=50K <=50K <=50K <=50K >50...
dtype: object

In [10]:
# Handling missing values (assuming '?' represents missing values in the dataset)
data = data.replace('?', pd.NA)

# Option 1: Remove rows with missing values
data = data.dropna()

# Option 2: Impute missing values
# Example: Imputing with mode for categorical features
for column in data.select_dtypes(include=['object']).columns:
    data[column].fillna(data[column].mode()[0], inplace=True)

# Example: Imputing with mean for numerical features
for column in data.select_dtypes(include=['number']).columns:
    data[column].fillna(data[column].mean(), inplace=True)

C:\Users\Aniket\AppData\Local\Temp\ipykernel_23380\3040775578.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[column].fillna(data[column].mode()[0], inplace=True)
C:\Users\Aniket\AppData\Local\Temp\ipykernel_23380\3040775578.py:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[column].fillna(data[column].mean(), inplace=True)

In [11]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler

# Standard Scaling
scaler_standard = StandardScaler()
data_standard_scaled = data.copy()
data_standard_scaled[data.select_dtypes(include=['number']).columns] = scaler_standard.fit_transform(data.select_dtypes(include=['number']))

# Min-Max Scaling
scaler_minmax = MinMaxScaler()
data_minmax_scaled = data.copy()
data_minmax_scaled[data.select_dtypes(include=['number']).columns] = scaler_minmax.fit_transform(data.select_dtypes(include=['number']))

In [12]:
from sklearn.preprocessing import OneHotEncoder, LabelEncoder

# One-Hot Encoding for categorical variables with less than 5 categories
one_hot_encoder = OneHotEncoder(sparse_output=False, drop='first')
data_one_hot_encoded = data.copy()
for column in data.select_dtypes(include=['object']).columns:
    if data[column].nunique() < 5:
        encoded_cols = pd.DataFrame(one_hot_encoder.fit_transform(data[[column]]))
        encoded_cols.columns = one_hot_encoder.get_feature_names_out([column])
        data_one_hot_encoded = pd.concat([data_one_hot_encoded, encoded_cols], axis=1)
        data_one_hot_encoded.drop(column, axis=1, inplace=True)

# Label Encoding for categorical variables with more than 5 categories
label_encoder = LabelEncoder()
data_label_encoded = data.copy()
for column in data.select_dtypes(include=['object']).columns:
    if data[column].nunique() >= 5:
        data_label_encoded[column] = label_encoder.fit_transform(data[column])

In [13]:
# Example new features
data['age_group'] = pd.cut(data['age'], bins=[0, 30, 60, 90], labels=['young', 'middle_aged', 'senior'])
data['capital_diff'] = data['capital_gain'] - data['capital_loss']

# Rationale
# 'age_group' groups ages into categories, potentially capturing non-linear relationships with the target.
# 'capital_diff' combines capital_gain and capital_loss into a single feature that might have a stronger correlation with the target.

In [14]:
import numpy as np

# Log transformation for a skewed feature
data['capital_gain_log'] = np.log1p(data['capital_gain'])

# Justification: The log transformation can reduce skewness and make the data more normally distributed, which can be beneficial for some models.

In [15]:
from sklearn.ensemble import IsolationForest

# Isolation Forest
iso_forest = IsolationForest(contamination=0.05)
outliers = iso_forest.fit_predict(data.select_dtypes(include=['number']))
data_outliers_removed = data[outliers == 1]

# Discussion: Outliers can skew the results of machine learning models, leading to poor performance. Removing outliers can help in building more robust models.

In [16]:
!pip install ppscore

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: ppscore in c:\users\aniket\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (1.3.0)
Requirement already satisfied: pandas<2.0.0,>=1.0.0 in c:\users\aniket\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from ppscore) (1.5.3)
Requirement already satisfied: scikit-learn<2.0.0,>=0.20.2 in c:\users\aniket\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from ppscore) (1.5.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\aniket\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas<2.0.0,>=1.0.0->ppscore) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\aniket\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas<2.0.0,>=1.0.0->ppscore) (2024.1)
Requirement already satisfied: numpy>=1.21.0 in c:\users\aniket\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas<2.0.0,>=1.0.0->ppscore) (2.0.1)
Requirement already satisfied: scipy>=1.6.0 in c:\users\aniket\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from scikit-learn<2.0.0,>=0.20.2->ppscore) (1.14.0)
Requirement already satisfied: joblib>=1.2.0 in c:\users\aniket\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from scikit-learn<2.0.0,>=0.20.2->ppscore) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\aniket\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from scikit-learn<2.0.0,>=0.20.2->ppscore) (3.5.0)
Requirement already satisfied: six>=1.5 in c:\users\aniket\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from python-dateutil>=2.8.1->pandas<2.0.0,>=1.0.0->ppscore) (1.16.0)

In [17]:
import ppscore as pps

ModuleNotFoundError: No module named 'ppscore'

In [ ]:
# PPS analysis
pps_matrix = pps.matrix(data)[['x', 'y', 'ppscore']].pivot(columns='y', index='x', values='ppscore')

# Correlation matrix
correlation_matrix = data.corr()

# Comparison: PPS can capture non-linear relationships that might be missed by correlation, providing a more comprehensive understanding of feature interactions.